/***** FONT IMPORTS *****/

@font-face {
  font-family: 'outfit';
  src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'young-serif';
  src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf')
    format('truetype');
}

/***** VARIABLES *****/

:root {
  /* COLOURS */
  --brown-800: #854632;
  --rose-50: #fff7fb;
  --rose-800: #7a284e;
  --stone-100: #f3e5d7;
  --stone-150: #e3ddd7;
  --stone-600: #5f564d;
  --stone-900: #312e2c;
  --white: #fff;
  /* FONT WEIGHTS */
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
}

/***** BASE (RESET) *****/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block-end: 0;
}

body {
  margin: 0;
  background-color: var(--stone-100);
}

.wrapper {
  background-color: var(--white);
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic; /* Show alt text in italic! */
  background-repeat: no-repeat;
  background-size: contain;
  shape-margin: 1rem; /* In case of floats... */
}

ol,
ul {
  padding-left: 1.25rem;
}

li {
  margin-bottom: 0.5rem;
  padding-left: 25px;
}

.container {
  padding-inline: 2rem;
}

/***** FONT STYLES *****/

body {
  font-family: 'outfit', sans-serif;
  font-size: 1rem;
  line-height: 150%;
  font-weight: var(--regular);
  color: var(--stone-600);
}

h1,
h2,
h3 {
  line-height: 100%;
  margin: 0;
}

h1,
h3 {
  font-family: 'young-serif', serif;
  font-weight: var(--regular);
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.25rem; /* 36px */
  color: var(--stone-900);
}

h2 {
  font-family: 'outfit', sans-serif;
  font-weight: var(--semi-bold);
  font-size: 1.25rem;
  color: var(--rose-800);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
}

td,
.bold,
.instructions-list li::marker {
  font-weight: var(--bold);
}

h3,
td,
.instructions-list li::marker {
  color: var(--brown-800);
}

th {
  font-weight: var(--regular);
}

/***** SECTIONS *****/

section {
  margin-bottom: 2rem;
}

.preparation-time {
  background-color: var(--rose-50);
  padding: 1.5rem;
}

.preparation-list {
  margin-bottom: 0;
}

.ingredients-list,
.instructions-list {
  margin-left: 0.25rem;
}

.ingredients-list li:last-child {
  margin-bottom: 2rem;
}

.instructions,
.nutrition {
  padding-top: 2rem;
  border-top: 1px solid var(--stone-150);
}

.nutrition-table {
  width: 100%;
  text-align: left;
}

table {
  text-align: left;
  border-collapse: collapse;
}

caption {
  text-align: left;
  margin-bottom: 0.5rem;
}

tr {
  border-bottom: 1px solid var(--stone-150);
  line-height: 3rem;
}

th {
  padding-left: 2rem;
}

td {
  padding-right: 2rem;
}

/***** IMAGES *****/

img {
  max-width: 100%;
}

.hero-image {
  margin-bottom: 1.5rem;
}

/***** FOOTER *****/

.footer-main {
  text-align: center;
  padding-block: 1rem;
  background-color: var(--rose-50);
  margin-top: 3rem;
}

.footer-main p {
  margin: 0;
}

/***** MEDIA QUERIES *****/

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem; /* 40px */
  }
  .hero-container {
    padding-inline: 2rem;
  }
  .hero-image {
    border-radius: 12px;
    margin: 2.5rem 0 2.5rem;
  }
  .wrapper {
    max-width: 616px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 736px;
  }
}
